/*Paletas de cores
Azul: rgba(39, 79, 199, 1)
branco: rgba(255, 255, 255, 1)
*/

:root {
  font-size: 62.5%;

}

body, html {
  font-family: "Montserrat", sans-serif;;
  
  
}

body, html {
  
  background-color: rgba(26, 67, 192, 0.975) ;
  background-image:url(/assets/images/BG.png);
  
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

div.image img{
  height: 98px;
  width: 120px;
  
  margin-bottom: 20px;
  margin-left: 90px;

}

div.campo {
  
  border: 1px rgba(255, 255, 255, 1) solid;
  display: block;
  width: 300px;
  height: 45px;
  border-radius: 4px;
  padding: 5px;
  margin-top: 48px;
  cursor: pointer;
  
  
}

div.campo i {
  display: inline-flex;
  padding: 5px;
}

div.campo a {
  position: absolute;
  margin-top: 48px;
  font-size: 1.4rem;
  visibility: hidden;
}

div.campo.error a{
  color:rgb(252, 71, 0);
  visibility: visible;
}

div.campo #iuser, #ipwd {
  margin-bottom: 2px;
  padding-left: 30px;
  background: none;
  border: none;
  font-size: 1.8rem;
  width: 300px;
  height: 40px;
  margin-right: 2px;
  transform:translateY(-3.4rem);
  color: rgba(255, 255, 255, 1);
  outline: none;
  cursor: pointer;
}

form > input {
  
  width: 300px;
  height: 45px;
  border: 1px rgba(255, 255, 255, 1) solid;
  border-radius: 4px;
  margin-top: 45px;
  margin-bottom: 5px;
  cursor: pointer; 
}

form > input .iuser{
  font-size: 14px;
  display: flex;
  width: 250px;
}


form > input:hover {
  background-color: #0e2052;
}

form > a.f_pwd{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  display:flex;
  width: 300px;
  flex-direction: row-reverse;
  font-size: 1.6rem;
}






